<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://java.sun.com/jsf/facelets">
<head>
    <meta charset="UTF-8"/>
    <title>登录成功</title>
    <script src="../../statics/bootstrap/js/jquery-1.10.2.min.js"></script>
    <script src="../../statics/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../statics/bootstrap/css/bootstrap.min.css"/>
    <script src="../../statics/js/swiper/swiper-3.4.2.jquery.min.js"></script>
    <script src="../../statics/js/swiper/swiper.animate1.0.2.min.js"></script>
    <link rel="stylesheet" href="../../statics/css/swiper/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="../../statics/css/swiper/animate.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color: #0F2232;" role="navigation">
    <span>
        <h3 id="admin" style="color: #349E49;margin-left: 5%;">欢迎!<span th:text="(${admin}!=null)? ${admin.username}: '' "></span></h3>
    </span>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 2%;">
        <li><a href="/wechat/toRegister"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
        <li><a href="/wechat/toLogin"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
    </ul>
</nav>
<!--<iframe name="toppage" width="100%" height="100%" marginwidth="0" marginheight="0" frameborder="no" border="0"  src="../../templates/header.html" ></iframe>-->
<div class="container-fluid" style="margin-top:3%;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">简介</a>
                </li>
                <li>
                    <a href="#">信息</a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">操作</a>
                        </li>
                        <li>
                            <a href="#">设置栏目</a>
                        </li>
                        <li>
                            <a href="#">更多设置</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">分割线</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="carousel slide" id="carousel-794378">
                <ol class="carousel-indicators" >
                    <li data-slide-to="0" data-target="#carousel-794378">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-794378">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-794378" class="active">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="" src="../../statics/images/slide3.jpg" width="512" height="300"/>
                        <div class="carousel-caption">
                            <h4>
                                标题1
                            </h4>
                            <p>
                                内容1
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../statics/images/slide2.jpg" width="512" height="600"/>
                        <div class="carousel-caption">
                            <h4>
                                标题2
                            </h4>
                            <p>
                                内容2
                            </p>
                        </div>
                    </div>
                    <div class="item active">
                        <img src="../../statics/images/slide1.jpg" width="512" height="900"/>
                        <div class="carousel-caption">
                            <h4>
                                标题3
                            </h4>
                            <p>
                                内容3
                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-794378" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                       <a class="right carousel-control" href="#carousel-794378" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>

    <!--swiper-->
    <div class="swiper-container bounceOut" style="width: 300px;height:300px;">
        Swiper实例：
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../statics/images/slide3.jpg" width="300" height="300"/></div>
            <div class="swiper-slide"><img src="../../statics/images/slide2.jpg" width="300" height="300"/></div>
            <div class="swiper-slide"><img src="../../statics/images/slide1.jpg" width="300" height="300"/></div>
            <div class="swiper-slide"><img src="../../statics/images/java.jpg" height="300" width="300"/></div>
            <div class="swiper-slide"><img src="../../statics/images/81.png" height="300" width="300"/></div>
        </div>
    </div>
</div>
</body>
</html>
<script>

    /*var mySwiper = new Swiper('.swiper-container',{
        freeMode : true,//惯性滑动
        speed:2000,//滑动停留时间，
        autoplay:3000,//自动滑动间隔时间
        loop : true,//开启环路滑动
        zoom : true,//调焦
        effect : 'cube',//方框模型
        cube: {//模型设置
            slideShadows: true, //开启slide阴影
            shadow: true,// 开启投影
            shadowOffset: 100,//投影距离。默认 20，单位px。
            shadowScale: 0.9//投影缩放比例。默认0.94。
        }
    });*/

    var mySwiper = new Swiper('.swiper-container',{
        loop: true,
        effect : 'cube',
        cube: {
            shadow: true
        }
    });

    setInterval(play,8000);

    function play(){
        $(".swiper-container").removeClass('bounceOut').addClass('bounceIn');
        setTimeout(function(){mySwiper.slideNext();},800)
        setTimeout(function(){$(".swiper-container").removeClass('bounceIn').addClass('bounceOut')},2000);
    }

  /*  $(document).ready(function () {
        var ee = "欢迎！";
        var text =$("#admin").text();
        ee+=text;
        $("#admin").text(ee);
    })*/
</script>

