<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" type="text/css" href="../css/personalCenter.css"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/iconfont.js"></script>
    <title>个人中心</title>
</head>
<body>
<!--头部区域-->
 <header>
       <div class="top">
            <div class="headerLine">
                <span>个人中心</span>
            </div>
      </div>
</header>
<!--内容区域-->
<form id="substance">
<div class="subsTance">
    <div class="topLogo">
        <div class="pictureLogo">
            <img src="../img/person.png" alt="">
        </div>
        <input class="phoneNumber" readonly="true" type="text" value="15513461213">
        <svg class="icon icon-T" aria-hidden="true" id="editBtn">
              <use xlink:href="#icon-bianji3"></use>
        </svg>
    </div>
    <div id="am-list-static">
     <ul class="listCharacter">
        <li>
            <a href="changeNumber.html">
            更换手机号
            </a>
        </li>
        <li>
            <a href="amendWord.html" >
               修改密码
            </a>
        </li>
        <li>
            <a href="#">
               关于与帮助
            </a>
        </li>
        <li>
            <a>
               联系我们
            </a>
        </li>

    </ul>
    </div>

    <div id="subBtn">
            <button type="button" onClick="btn()" class="am-btn">退出登录</button>
    </div>
</div>
</form>

<script>




</script>



</body>
</html>