
/**整体**/
body {
    margin: 0 auto;
    width: 1335px;
    background-color: #F2F2F2;
}
/** 下面是改写sui的色彩风格**/
a,.sui-msg.msg-info,.checkbox-pretty.checked > span::before, .radio-pretty.checked > span::before,.sui-nav.nav-tabs>.active>a, .sui-nav.nav-tabs>li>a:hover {
    color:#6bc5a4;
}
a:hover,a:visited,a:active {
    color:#30b08f
}
.sui-layout {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
    background-color: #fff;
}
.sui-layout .sidebar {
    width:15%;
}
.sui-layout .content {
    margin-left: 16%;
    overflow:hidden;
    min-height: 550px;
}
.btn-info,.btn-primary
 {
    background-color: #6bc5a4 ;
    border: 1px solid #87d2b7;
    color: #fff !important;
}
.btn-info:hover, .btn-info:focus{
    background-color: #6bc5a4 ;
}
.btn-danger{
    color: #fff !important;
}
.btn-primary:hover,.btn-primary:focus,.sui-nav.nav-tabs.tab-navbar > li.active > a {
    background-color: #366d59;
}
.txt_right {
    text-align: right;
}
.sidebar .clink-all {
    display: block;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    color: #349E49;
    text-decoration: none;
    font-family: '微软雅黑';
    font-size: 16px;
    position: relative;
    background-color: #0F2232;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #B3B3B3;
}
.sidebar .clink-all:after {
    content: "+";
    position: absolute;
    right: 14px;
    top: 0px;
    color:#bfbfbf;
}
.sui-msg.msg-large>.msg-icon{
    font-size: 14px;
}
.sui-msg.msg-notice>.msg-con{
    background-color: #fff;
    color:#666;
    border:1px solid #f2f2f2;
}
.sidebar .clink-all.active:after {
    content: "-";
}
.sui-nav.nav-list.nav-large.expmenu li {
    font-family: '微软雅黑';
}
.sui-nav.nav-list.nav-large.expmenu li .nav-header {
    display: block;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    background-color: #0F2232;
    text-shadow: none !important;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    color:#fff;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.sui-nav.nav-list.nav-large.expmenu li .nav-header .sui-icon {
    position: absolute;
    right: 9px;
    top: 13px;
    color:#bfbfbf;
}
.sui-nav.nav-list.nav-large.expmenu li .menu {
    margin: 0 -15px;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    display: none;
}
.sui-nav.nav-list.nav-large.expmenu li.active .menu {
    display: block;
}
.sui-nav.nav-list.nav-large.expmenu li.active .item a {
    display: block;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    font-size:14px;
    color: #fff;
    background-color: #0F2232;
}
.sui-nav.nav-list.nav-large.expmenu li .item.active a {
    background-color: #349E49;
}
.sui-nav.nav-list.nav-large.expmenu li .item a:hover {
  color:#fff;
  background-color: #349E49;
    text-decoration: none;
}
.sui-nav.nav-list.nav-large.expmenu li .item.active a:hover {
  color:#fff;
    background-color: #349E49;
    opacity:1;
    text-decoration: none;
}
/** 上面是改写sui的色彩风格**/
    /**登录页面**/
#login_page h1 {
    float: left;
    color: #666666;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin-top: 3%;
}
#login_page form {
    width: 50%;
    ;float: right
}
#login_page .sui-form,.modal-content .sui-form,.no-border-form-qs {
    border: none !important;
    box-shadow:none !important;
}
/**管理页面**/
    .span12 {
    margin-left:100px ;
}
.sui-form {
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 3px 3px #dedede;
    padding: 12px;
}
.sui-row-fluid {
    border: 1px solid #ccc;
    margin: 100px auto;
    padding: 50px;
    width: 60%;
}
.product_img,.product_img_tmp {
    border: 1px solid #CCCCCC;
    width:90px;
    height: 90px;
}
.modal-body .product_img {
    margin-bottom: 5px;
    cursor: pointer;
}
.icon-touch-plus {
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 40px;
    padding: 25px;
    vertical-align: middle;
    cursor: pointer;
}
.description {
    padding-left: 100px;
    font-weight: normal;
}
.form_title {
    width: 120px;
}
.letter {
    width: 48px;
    color: #333333;
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}
.sui-table {
    margin-top:10px;
}
.sui-table td.txt_right {
    width: 100px;
}
/**广告管理**/
    #ads.sui-form {
    display: inline-block;
    width: 97%;
}
#ads ul,#ads li {
    list-style: none;
    margin: 20px 10px;
    padding: 0;
    position: relative;
}
.ad_list {
    float: left;
}
.ad_img,.img_placeholder {
    border: 1px solid #ccc;
    height: 200px;
    width: 300px;
}
.upload-label {
    background-color: #fff;
    border: 1px solid #ccc;
    opacity: 0.8;
    padding: 5px;
    text-align: center;
    width: 100px;
}
#ads .control-group {
    clear: both;
}
.index_ad_list,.ad_cat_list {
    border: 1px solid #C2CCD1;
}
.index_ad_list {
    width: 30%;
}
.ad_cat_list {
    width: 500px;
}
#lb,#nav-classify-menu-lb {
    background: url("../img/u41_normal.png") no-repeat scroll 20px center rgba(0, 0, 0, 0);
    border: medium none;
    display: inline-block;
    height: 100px;
    width: 50px;
}
#s1,#s2,#nav-classify-menu-select,#nav-classify-menu-second {
    height: 150px;
    overflow-y: scroll;
    width: 300px;
}
.ad_block {
    clear: both;
}
.ad_block .pull-left:nth-child(even) {
    margin-left:5%;
    width:50%;
}
.banner_title {
    border: 1px dashed #d1d1d1;
    ;margin-top: 20px;
    padding: 20px;
}
.banner_title > label:first-child {
    margin-left: 50px;
}
.shop-group {
    border: 1px solid #dddddd;
    border-top: 2px solid #9b0500;
}
.shop-group > .shopping {
    float: left;
    width: 16.66666667%;
    border-right: 1px solid #eeeeee;
    box-sizing: border-box;
}
.shopping .p-name {
    height: 43px;
    overflow: hidden;
    font: 12px "\5B8B\4F53", "Arial Narrow", HELVETICA;
}
.shopping .p-name a {
    color: #666666;
}
.shopping .p-name a:hover {
    color: #930504;
}
.shopping:hover img {
    transform: scale(1.2);
}
.shopping .p-img {
    height: 160px;
    line-height: 160px;
    text-align: center;
    overflow: hidden;
}
.shopping .p-img img {
    transition: transform .3s;
}
.shopping .p-info {
    padding: 0 10px;
}
.shopping .price-group {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.shopping .p-price {
    font-size: 17px;
    color: #9b0500;
    text-overflow: clip;
}
.shopping .p-old-price {
    font-size: 15px;
    color: #999999;
    text-decoration: line-through;
}
.category-items {
    position: relative;
    border-left: 1px solid #cccccc;
    border-top: 2px solid #9b0500;
    margin-top: 10px;
    margin-bottom: 30px;
    min-height: 508px;
}
.category-items .banner {
    width: 200px;
    border-bottom: 1px solid #cccccc;
    position: absolute;
    border-right: 1px solid #cccccc;
    bottom: 0;
    top: 0;
}
.category-items .shade {
    width:100%;
    height: 287px;
    text-align: center;
    color:#fff;
    font-size:24px;
    padding-top: 220px;
    cursor: pointer;
    position:absolute;
    background: #000;
    z-index: 999;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.category-items .noImg {
    text-align: center;
    width: 100%;
    padding-top: 220px;
}
.category-items .category-title {
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-left: 50%;
    width: 1em;
    text-align: center;
    left: -20px;
    font-size: 40px;
    color: #666666;
    padding: 20px 0;
    line-height: 50px;
    word-wrap: break-word;
}
.category-items .category-title .iconfont {
    font-size: 100%;
    color: #666666;
    opacity: .5;
    text-align: center;
    width: 100%;
    margin-top: -59px;
    margin-bottom: -73px;
    display: inline-block;
    transition: all .6s linear;
}
.category-items .category-title:hover .iconfont {
    opacity: .8;
    color: #333333;
}
.category-items .main-selected {
    position: relative;
    margin-left: 200px;
}
.category-items .main-selected .shopping {
    width: 19.88%;
    float: left;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.category-items .main-selected .noPicShopping {
    min-width: 19.88%;
    min-height: 133px;
    padding-top: 120px;
    text-align: center;
    float: left;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.shopping .now_price {
    color: #f00;
    font-size: 16px;
}
.shopping .old_price {
    color: #ccc;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 5px;
}
.category-items .right-img .shopping {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    float: left;
    width: 16.58%;
}
/**分页**/
    #pageinfo,#storepageinfo {
    float: right;
}
/**页面底部**/
    footer {
    clear:both
}
/**青山扩展****/
    /**商户 登录***/
.login-bg {
    background:url("../img/bg.jpg")  no-repeat;
    background-size: cover;
    width:1024px;
}
.login-bg .login-content{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20%;
}
.login-bg .login-img{
    width:51%;
    float:left;
}
.login-bg .login-img img{
    margin-top:26%;
    width:100%;

}
.login-bg .sui-form{
    width:40%;
    background:rgba(0,0,0,0.5);
    height:360px;
    border:0;
    box-shadow: none;
    float:right;

}
.login-bg .sui-form p{
    width:100%;
    font-size:16px;
    color:#fff;
}
.login-bg .sui-form input{
    width:95%;
    height:35px;
    border:1px solid #666;
    padding-left:10px;
    margin-left:8px;
}
.login-bg .sui-form .login-code input{
    width:65%;
}
.login-bg .sui-form .login-code .verification{
    width:28%;
  height: 35px;
}
.login-bg .sui-form .remember-name{
    color:#7AC943;
    margin-left:7px;
}
.login-bg .sui-form .forgot-pwd{
    color:#aaa;
    float:right;
    margin-right:9px;
}

.login-bg .sui-form .login-title{
    padding-top:10px;
    padding-bottom:15px;
    padding-left: 10px;
}
.login-bg .sui-form .login-title span{
    font-weight: 600;
}
.login-bg .sui-form .login-title i{
    float:left;
    font-size:48px;
}
.login-bg .sui-form .login-username{

}
.login-bg .sui-form .login-btn input{
    background:#FF931E;
    color:#fff;
}
.login-bg .sui-form .login-meta{
    font-size:12px;
    text-align: center;
}

.pic-parent-div {
    position: relative;
    width:102px;
    height: 97px;
    float:left;
    z-index: 999;
}
.has-select {
    position:absolute;
    width:91px;
    height:51px;
    background:#000;
    opacity:0.5;
    text-align:center;
    font-weight:bold;
    font-size:36px;
    color:#fff;
    padding-top:40px;
    cursor: pointer;
}
.main-pic,.set-main-pic,.del-pic,.set-ybzf-pic,.hasset-ybzf-pic {
    position: absolute;
    cursor: pointer;
    padding: 2px;
    background: #ccc;
    top:0
}
.set-ybzf-pic {
    padding:6px 10px;
    left:10px;
    top:30%;
}
.del-pic {
    left:58px;
}
.hide {
    display: none;
}
.lee_hide {
    display:none !important;
}
.user_info_account {
    padding: 10px;
    border: 1px solid #eee;
}
.user_info_account span {
    margin-right: 20px;
}
/***（头部）**/
.lee_top {
    min-height: 95px;
    background-color: #0F2232;
    color:#fff;
    border-bottom:25px solid #f2f2f2;
    border-top:10px solid #349E49;
}
.lee_top .clearfix {
    padding-top:30px;
    font-size: 16px;
}
.lee_top p {
    text-align: right;
}
.lee_top span {
    font-size:16px;
}
.lee_top span.logo {
    text-align: left;
    padding-left: 20px;
    color:#fff;
}
.lee_top .logo .logo_img{
    width:165px;
    margin-right:45px;
    vertical-align: bottom !important;
}
.lee_top span.logo .user_name {
    font-weight: bold;
}
.lee_top .exit {
    font-size:14px;
    color:#fff;
    cursor: pointer;
    margin:0 30px;
}
.lee_top .sidebar {
    width:700px
}
.total_report {
    margin-left:50%;
}
.lee_ts_info {
    color: red;
}
.putaway_btn,.saleout_btn,.restore_btn {
    cursor: pointer;
}
.del-ads {
    margin:0 5px 0 70px;
}
.pic_num {
    padding: 0 5px;
}
table.center td,table.center th {
    text-align: center;
}
.ke-icon-example1 {
    background-image: url(../themes/default/default.gif);
    background-position: 0px -976px;
    width: 16px;
    height: 16px;
}
.lee_hot_table,.lee_block_table {
    padding:10px;
    border: 1px solid #ccc;
    margin:10px 0;
    width:100%;
}
.lee_hot_table td,.lee_block_table td {
    line-height: 30px;
}
.width200 {
    width:200px
}
/*分类管理*/
    .goods_list_lee {
    margin:10px 0;
}
.goods_list_lee p {
    cursor: pointer;
    margin-bottom:0;
}
.goods_list_lee .first_classify p i {
    margin:auto 8px;
}
.goods_list_lee .first_classify p {
    line-height:16px;
    margin:5px;
    cursor: pointer;
    font-size:14px
}
.goods_list_lee label {
    margin-right: 20px;
}
.qs_classify_name {
    width:55%;
    display:-moz-inline-box;
    display:inline-block;
}
.spanWidth100 {
    width:30px;
    display:-moz-inline-box;
    display:inline-block;
}
.product_manager_a {
    margin-left:23%;
}
.save-classify-btn {
    margin-left:60px !important;
}
.del_classify,.add_sub_classify {
    margin-left:8px ;
}
.qingShanPic {
    background-image: url("../img/qingshan.gif");
    background-repeat: no-repeat;
}
.link_back {
    background-position: -381px -88px;
    padding-left: 26px;
    margin-left:20px;
}
.third_classify .link_back {
    margin-left: 62px;
}
.lee-move {
    display: inline-block;
    font-size: 0;
    height: 17px;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    width: 21px;
}
.move-top {
    background-position: 3px 0;
}
.move-up {
    background-position: -41px 0;
}
.move-down {
    background-position: -64px 0;
}
.move-btm {
    background-position: -20px 0;
}
/*分类管理*/
    .goods_list {
    width:400px
}
.div_center {
    padding-left: 35px;
}
.div_center p {
    line-height: 12px;
}
.lee_product_ts_info {
    padding-left:100px;
    color:red;
}
.sui-breadcrumb {
    margin-top:0px;
}
.sui-nav.nav-tabs {
    padding-bottom: 0;
    height: 27px;
}
.sui-nav.nav-tabs.tab-navbar {
    height:23px;
}
/*分类导航广告*/
    .index-nav-div-qs {
    padding: 15px 10px;
    border: 1px solid #ccc;
    margin:10px
}
.nav-classify-first,.nav-classify-second,.nav-classify-set {
    width:32%;
    display:-moz-inline-box;
    display:inline-block;
}
.nav-classify-set {
    margin-right: 20px;
}
/*分类导航广告*/
    /**编辑产品**二维码弹框 **/
    .two-dimension-table {
    width:100%;
}
.two-dimension-table td {
    height: 30px;
}
.two-dimension-table td.ts-info {
    text-align: right;
    color:#999;
}
.two-dimension-table td.border-td {
    border: 1px solid #999;
}
/**会员积分规则设置***/
    .show_content {
    margin-left:65px ;
}
/**会员积分规则设置***/
    /**活动**满减**/
    /***o2o**/
    .full-cut-condition,.o2o-condition {
    border: 1px solid #eee;
    padding:10px;
    position: relative
}
.del-full-cut-condition,.del-o2o-condition {
    float:right;
    cursor: pointer;
}
.add-full-cut-condition,.add-o2o-condition,.add-new-rule {
    padding: 10px 20px;
    border: 1px solid #eee;
    width: 70px;
    margin-top:5px;
    cursor: pointer;
    color:#28a3ef
}
.add-full-cut-condition.gray,.add-o2o-condition.gray,.add-new-rule.gray {
    color:#ccc
}
/**优惠券***/
    .rule_select_coupon {
    width:80%;
    text-align: center;
    cursor: pointer;
}
.rule_select_coupon.border {
    border:1px solid #ccc;
    padding: 10px 5px;
}
.coupon_list_tr {
    cursor: pointer;
}
.coupon_list_tr.select {
    background: #f16f1b;
    color: #fff;
}
.coupon_list_tr.disable {
    background: #ccc;
    color: #000;
}
.coupon_rule_div {
    margin-top:10px;
}
.del_ful_cut_rule {
    float:right;
    width:20%;
    margin-top:-3px;
    cursor: pointer;
    color:#00f;
}
.coupon_rule_div .del_ful_cut_rule {
    width:17%;
}
.send_detail_content {
    width:80%;
    padding: auto 10px;
    min-height: 300px;
}
.send_detail_content .send_detail_left {
    float:left;
    width:70%;
}
.send_detail_content .send_detail_right {
    float:left;
    width:25%;
}
.send_detail_content .send_detail_right p {
    margin:0;
}
.send_detail_content .send_detail_right img {
    width:200px;
    height: 200px;
    margin:0;
}
.send_detail_content .send_detail_right .detail_describe_p {
    text-align: center;
    margin-top:0;
}
/*--- common ---*/

.txt_right {
    text-align: right;
}
.margin-right-10 {
    margin-right: 10px;
}
.input-medium.input-date {
    width: 86px;
}
input[type="text"].input-width110 {
    width: 100px;
}
td {
    word-break:break-all;
    word-wrap:break-word;
}
.overflow-center {
    overflow:hidden;
}
#ads.sui-form {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#index-slide ul {
    zoom: 1;
    margin: 0 3px;
}
#index-slide ul:before,
#index-slide ul:after {
    content: '';
    display: table;
}
#index-slide ul:after {
    clear: both;
    overflow: hidden;
}
#index-classify .ad_block {
    padding-right: 20px;
}
/*radio btn*/
    .radio_block input:checked + label.sui-btn {
    background: #28A3EF;
    color: #fff;
}
.sui-nav.nav-tabs.nav-large.order-tab {
    border: 0;
    margin: 30px 0 5px;
    padding: 0;
}
.sui-nav.nav-tabs.nav-large.order-tab > li {
    margin-right: 5px
}
.sui-nav.nav-tabs.nav-large.order-tab > li > a {
    border-width: 1px;
    border-style: solid;
    border-color: #DDD #DDD transparent;
    padding: 4px 5px;
}
.sui-nav.nav-tabs.nav-large.order-tab > li > a:hover,
.sui-nav.nav-tabs.nav-large.order-tab > li.active > a {
    background: #ddd;
}
.madius-warp {
    margin: -7px -8px;
}
.madius-warp .typographic {
    border-bottom: 1px solid #e6e6e6;
    padding: 7px 8px;
    position:relative;
    overflow: hidden;
}
.madius-warp .typographic:last-child {
    border-bottom: 0;
}
.new-arrows {
    cursor: pointer;
    font-size: 90px;
    margin-left:20px;
    color: #28a3ef
}
.icon-caret-right:hover, .icon-caret-right:focus {
    color: #4cb9fc;
}
.madius-warp .typographic .typographic_pic .gifts {
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: -30px;
    background-color: red;
    color: #fff;
    width: 70px;
    transform:rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform:rotate(-45deg);
    /* IE 9*/
    -webkit-transform:rotate(-45deg);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    -mozbox-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.sui-dropdown-menu>.active a {
    color: #666;
    text-decoration: none;
    outline: 0;
    background-color: #fff;
}
.sui-dropdown-menu>.active>a, .sui-dropdown-menu>.active>a:hover, .sui-dropdown-menu>.active>a:focus, .dropdown-submenu:hover>a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #28a3ef;
}

    .tanku {
    margin-left: 25px;
    line-height: 8px;
}
.composing {
    float:left;
    width:25%;
    margin-top: 20px;
}
.box {
    width: 230px;
    height: 110px;
}
.anniubian {
    cursor: pointer;
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    font-size: 18px;
}
.record {
    padding: 11px 28px 11px 44px;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    padding-left: 5px;
}
.cells {
    width:230px;
    height:110px;
    border: 1px solid #fff;
}
.ziti {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}
.sui-breadcrumb > li + li.no_content::before {
    color: #ccc;
    content: " ";
    padding: 0 5px;
}
#step_list {
    width: 450px;
}
#step_list ul li {
    list-style: none
}
#step_list .left {
    float: left;
}
#step_list .right {
    float: right;
    margin-top: 25px;
}
#step_list .right .step_date {
    margin-left: 50px;
}
#step_list .cl {
    clear: both;
}
#step_list .step {
    width: 15px;
    height: 15px;
    background-color: #1aa5fb;
    border-radius: 50%
}
#step_list .step_todo {
    width: 15px;
    height: 15px;
    background-color: #c8c8c8;
    border-radius: 50%
}
#step_list .line {
    width: 3px;
    height: 30px;
    background-color: #1aa5fb;
    margin-left: 6px;
}
#step_list .line_todo {
    width: 3px;
    height: 30px;
    background-color: #c8c8c8;
    margin-left: 6px;
}
.icon-chevron-up {
    position: relative;
    top: 13px;
    left:1px;
    color: #1aa5fb
}
.typographic .typographic_pic {
    float: left;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    margin-right: 10px;
}
.typographic .typographic_pic img {
    max-width: 100px;
    max-height: 100px;
    margin: 0
}
.typographic .typographic_body {
    overflow: hidden;
    float: none;
    text-align: left;
    margin-left: 110px;
}
.gap {
    margin:3px;
}
.left {
    text-align:left
}
li {
    list-style:none;
}
.sui-breadcrumb > li.no_content:before {
    color: #ccc;
    content: " ";
    padding: 0 5px;
}
.deliver-class .layui-layer-btn {
    border-top:1px solid #E9E7E7
}
.deliver-class .layui-layer-btn .layui-layer-btn0 {
    background:#28a3ef;
}
.deliver-class .layui-layer-btn .layui-layer-btn1 {
    background:#ea4a36;
}
.tmptable {
    border: 0px;
    width:100%
}
.tmptable td {
    border: 0px !important;
}
.tmptable tr td:first-child {
    width:60px;
}
input[name="dealer_remark"] {
    margin-left:5px;
    margin-right:5px;
}
.refund {
    margin:15px 30px 15px 25px;
}
.refund_tile {
    display: inline-block;
    width:110px;
    text-align: right;
    margin-right: 15px;
    padding: 0px;
    font-size: 14px;
}
.explain {
    overflow: hidden;
    word-wrap:break-word;
    display: block;
    width:85%;
}
.strength {
    font-size:14px;
    font-weight:bold;
}
.refund_btn {
    margin:10px 15px;
}
.red {
    color:red;
}
.green {
    background: green none repeat scroll 0 0;
    border: 0 none;
    color: white;
    padding: 5px;
}
.sui-pagination ul>li>a, .sui-pagination ul>li>span {
    color:#6bc5a4;
    background:#fff;
    border-color:#6bc5a4;
}
.sui-pagination ul>.active>a:hover, .sui-pagination ul>.active>span:hover, .sui-pagination ul>.active>a:focus, .sui-pagination ul>.active>span:focus,.sui-pagination ul>.active>a, .sui-pagination ul>.active>span{
    background:#6bc5a4;
    color:#fff;
    border-color:#6bc5a4;
}
.pagination-large div .page-num+.page-confirm,.sui-pagination ul>li>a:hover, .sui-pagination ul>li>a:focus,.pagination-large div .page-num+.page-confirm:hover, .pagination-large div .page-num+.page-confirm:focus{
    background:#87d2b7 !important;
    border:1px solid #87d2b7;
}
.pageinfo{
    text-align: right;
    margin-right:5%;
}
.pagination-large ul>li>a, .pagination-large ul>li>span{
    padding:2px 6px;
}
.pagination-large div{
    font-size:12px;
}
.pagination-large div .page-num+.page-confirm {
    padding:0 10px;
}
.pagination-large div .page-num{
    padding:0 8px 4px 8px;
}
select{
    border: solid 1px #000;
     appearance:none;
     -moz-appearance:none;
     -webkit-appearance:none;
     padding-right: 14px;
     width:130px;
     background: url("../img/arrow.png") no-repeat scroll right center transparent;
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
}
select::-ms-expand { display: none; }
.clear{clear:both;}
.footer{
  clear:both;
}
.footer .foot-main{
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background:#fff;
  border-top: 1px solid #e4e8e9;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-family: "微软雅黑";
}
.footer .foot-place{
  height: 50px;
  width: 100%;
}



/***loading***/
.alert-loading{
  position: relative;
  width: 100%;
  display: table-row;
  background-color: rgba(255,255,255,0.5);
  z-index:1000;
}
.sk-circle {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 50px;
  height: 50px;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  z-index: 1100;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
